<font><h1 class="text-primary">Editar Tarea</h1></font>

<%= render 'form' %>

<div class="actions">
  <a><%= link_to 'Ver', @tarea, :class=>"btn btn-primary fa fa-eye fa-2x" %></a>
  <a><%= link_to 'Volver', :back, :class=>"btn btn-primary fa fa-arrow-circle-left fa-2x" %></a>
</div>
