
<%= render 'form' %>

<div class="actions">
  <a><%= link_to 'Editar', @empresacliente, :class=>"btn btn-primary fa fa-eye fa-2x" %></a>
  <a><%= link_to 'Volver', :back, :class=>" fa fa-arrow-circle-left fa-2x btn btn-primary" %></a>
</div>