<%= render 'form' %>

<div class="actions">
  <h3>
    <a><%= link_to 'Ver', @factura, :class=>"btn btn-primary fa fa-eye" %></a>
  <a><%= link_to 'Volver', :back, :class=>" fa fa-arrow-circle-left btn btn-primary" %></a>
  </h3>
  
</div>