<font><h1 class="text-info">Nuevo Proveedor</h1></font>

<%= render 'form' %>

<div class="actions">
  <a><%= link_to 'Volver', :back, :class=>"btn btn-primary fa fa-arrow-circle-left fa-2x" %></a>
</div>