<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @estadofactura.nombre %>
</p>

<%= link_to 'Edit', edit_estadofactura_path(@estadofactura) %> |
<%= link_to 'Back', estadofacturas_path %>
