<br/><br/><br/><br/><br/>
<% @wel = Welcome.all %>
<% @wel.each do |w| %>
<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
    	<div class="panel panel-default login">
		  	<div class="panel-heading">                            
          <div class="row-fluid user-row">
            <i class="fa fa-eye fa-3x"></i> 
          </div>
          <h3 class="panel-title user-row"> <%= w.nombreEmpresa %> CRM</h3> 
			 	</div>
			  <div class="panel-body">
          <div class="form-group">
    			  <label>Iniciar Sesión</label>
            <hr>
			    </div>
			    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			    <form accept-charset="UTF-8" role="form">
			      <fieldset>
  			    	<div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></div>
  			    	  <%= f.text_field :email, :class=>"form-control", placeholder: "E-mail" %>
  			    	  <div class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></div>
  			    	</div>
  			    	<div class="form-group input-group">
  			    		<div class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></div>
  			    		<%= f.password_field :password, autocomplete: "off", :class=>"form-control", placeholder: "Contraseña" %>
  			    		<div class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></div>
  			    	</div> 
  			    	<input class="btn btn-lg btn-primary btn-block" type="submit" value="Ingresar">
			    	</fieldset>
			     </form>
			     <% end %>
			   </div>
			</div>
		</div>
	</div>
</div>
<% end %>

<style>
	body{
		background: url(https://unsplash.imgix.net/photo-1415226581130-91cb7f52f078?q=75&fm=jpg&s=859a0a6f863f8eb93a489c98402e687b);
		background-color: #444;
    background-size:   cover;
    background-repeat: no-repeat;
    background-position: center center;  
    /*background: url(https://unsplash.imgix.net/photo-1415226581130-91cb7f52f078?q=75&fm=jpg&s=859a0a6f863f8eb93a489c98402e687b),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);*/
	}
</style>