<h1>Editar Producto</h1>

<%= render 'form' %>

<div class="actions">
  <h4>
    <a><%= link_to 'Ver', @producto, :class=>"btn btn-primary fa fa-eye" %></a>
  <a><%= link_to 'Volver', :back, :class=>" fa fa-arrow-circle-left btn btn-primary" %></a>
  </h4>
  
</div>