<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Propuesta de venta - Evolusie Ltda</h1>
    <p>
      Señores: <%= @empresacliente.personaNombre + " " + @empresacliente.personaApellido %>
    </p>
    <p>
        Lorem Ipsum
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>